.racer-container {
  margin: 0 auto;
  max-width: 330px;
  width: 100%;
  h1 {
    text-align: center;
  }
}

.racers {
  display: flex;
  flex-wrap: wrap;
  .racer {
    border: 2px solid #000000;
    width: 150px;
    height: 175px;
    margin: 0 15px 15px 0;
    position: relative;
    // &:nth-child(2n + 2) {
    //   margin: 0;
    // }
    &:hover {
      background: #FFF056;
      border: 2px solid #32cd32;
      cursor: pointer;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
